.about-container {
    .about-section {
        background-color: #f7484e;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

div.hex-image {
  clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  background: url("../images/me.jpg") no-repeat;
  background-size: cover;
  margin: 70px auto 10px;
  height: 200px;
  width: 200px; 
  left: 0;
  right: 0;
}

@media only screen and (min-width: 768px){
    .about-container {
        display: flex;

        .about-section,
        .chapter-content {
            width: 50%;
        }
    }

    div.hex-image {
        position: absolute;
    }
}