.travel-container {
    display: flex;
    height: 100vh;
}

.travel-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.travel-section .nav-bar a {
    color: #000000;
    font-weight: 500;
}

.travel-section,
.travel-chapter {
    width: 50%
}

.crop-image {
    height: 100vh;
    overflow: hidden;
}

.crop-image:hover{
    overflow: hidden;
}

.travel-chapter {
    overflow-y: overlay;
    scrollbar-width: none;
}

.travel-chapter img {
    width: 100%;
    transition: transform 10s ease;
}

.travel-chapter img:hover {
    transform: scale(1.2);
    transition: transform 10s ease;
}

  